:root {
}
body { /* Light Skin */
	--txt-color: #444;	 			/* Primary Text */
	--txt-sec-color: #666; 			/* Secondary Text */
	--bg-color: #f9f9f9;	 		/* Main Background 				- Main Page */
	--bg-acc-color: #ddd;			/* Background Accent			- Seperators */
	--bg-sec-color: #fff; 			/* Secondary Background 		- Header, Playlist */
	--bg-sec-acc-color: #ddd;		/* Secondary Background Accent 	- Header, Playlist Border */
	--icon-color: #777; 			/* Icon Color */
	--ctrl-color: #444; 			/* Primary Control Text 		- Button/Dropdown Text */
	--ctrl-sec-color: #888; 		/* Secondary Control 			- Sentiment-Background, ... */
	--ctrl-bg-color: #dedede; 		/* Primary Control background 	- Buttons, Dropdown, ... */
	--ctrl-bg-sec-color: #ababab;	/* Secondary Control Background - Highlighted stuff */
	--ctrl-bg-ter-color: #f8f8f8; 	/* Tertiary Control Background 	- Fields */
	--acc-color: #cc0000; 			/* Main Accent 					- Timeline, Some Controls */
	--acc-sec-color: #2196F3; 		/* Secondary Accent 			- Sentiment Bar */
}
body.theme-dark { /* Dark Skin */
	--txt-color: #e0e0e0; 			/* Primary Text */
	--txt-sec-color: #aaa; 			/* Secondary Text */
	--bg-color: #1c1c1c; 			/* Main Background 				- Main Page */
	--bg-acc-color: #444;			/* Background Accent			- Seperators */
	--bg-sec-color: #282828; 		/* Secondary Background 		- Header, Playlist */
	--bg-sec-acc-color: #222;		/* Secondary Background Accent 	- Header, Playlist Border */
	--icon-color: #aaa; 			/* Icon Color */
	--ctrl-color: #ccc; 			/* Primary Control Text 		- Button/Dropdown Text */
	--ctrl-sec-color: #666; 		/* Secondary Control 			- Sentiment-Background, ... */
	--ctrl-bg-color: #333; 			/* Primary Control background 	- Buttons, Dropdown, ... */
	--ctrl-bg-sec-color: #282828;	/* Secondary Control Background - Highlighted stuff */
	--ctrl-bg-ter-color: #111111; 	/* Tertiary Control Background 	- Fields */
	--acc-color: #cc0000; 			/* Main Accent 					- Timeline, Some Controls */
	--acc-sec-color: #2196F3; 		/* Secondary Accent 			- Sentiment Bar */
}
/* Purple: #700070 */
/* Blue Sec-Accent color: #2196F3 */
body {
	font-family: Arial, "Calibri", sans-serif;
	font-size: 87.5%;
	background-color: var(--bg-color);
	color: var(--txt-color);
	margin: 0;
	padding: 0;
/*	overflow: hidden;
	height: 100vh;*/
}
* {
	box-sizing: border-box;
}

/* -------------------------------------------------------------------- */
/* ---- HEADER -------------------------------------------------------- */
/* -------------------------------------------------------------------- */

.header {
	z-index: 6;
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-sec-color);
	border-bottom: 1px solid var(--bg-sec-acc-color);
	overflow: hidden;
}
.header .side {
	flex-grow: 1;
	flex-shrink: 10;
	max-width: 5em;
}
.header .center {
	flex-grow: 1;
	flex-shrink: 1;
}


/* --------------------------- */
/* ---- SIDE ICONS ----------- */
/* --------------------------- */

.header .side.left {
	display: flex;
	flex-direction: row;
}
.header .side.right {
	display: flex;
	flex-direction: row-reverse;
}
.headerIcon {
	height: 3.5em;
	padding: 0.4em 0.8em;
}
.headerIcon svg {
	height: 100%;
}
.flagPlayerLogo svg{
	fill: var(--acc-color);
	overflow: visible;
}

/* --------------------------- */
/* ---- SEARCHBAR ------------ */
/* --------------------------- */

.searchBar {
	display: flex;
	height: 2.5em;
	max-width: 30em;
	width: 100vw; /* Ensures it has highest priority to get horizontal space */
}
.searchBar * {
	height: 100%;
}
.searchField {
	flex-grow: 1;
	padding: 0 0.5em;
	background-color: var(--ctrl-bg-ter-color);
	border: 1px solid var(--ctrl-bg-color);
	color: var(--ctrl-color);
}
.searchButton {
	flex-grow: 0;
	width: 4em;
	background-color: var(--ctrl-bg-color);
	fill: var(--ctrl-sec-color);
}


/* -------------------------------------------------------------------- */
/* ---- PAGE LAYOUT --------------------------------------------------- */
/* -------------------------------------------------------------------- */

.pageContainer {
	padding-top: 3.5em;
	/* Scrolling container instead of body gives performance problems */
	/*overflow-y: auto;
	height: inherit;*/
}
.pageContent {
	padding-bottom: 20em;
}
.section {
	display: none; /* All enabled by script */
	position: relative;
}


/* --------------------------- */
/* ---- MOBILE LAYOUT -------- */
/* --------------------------- */

.mobile .desktopLayout {
	display: none;
}
.mobile .mobileLayout { 
	display: block;
	width: 100%;
	padding: 1em 1em 0;
}
.mobile .section {}
.mobile .section.player {}
.mobile .section.banner {}
.mobile .section.channel {}
.mobile .section.search {}
.mobile .section.playlist {
	max-height: 100%;
	margin-bottom: 1em;
}
.mobile .playlistContainer {
	max-height: 100%;
}
.mobile .section.video {}
.mobile .section.related {}
.mobile .section.comments {
	/* Seperation like in vdDetail */
	border-top: 1px solid var(--bg-acc-color);
	padding: 1em 0 0;
	margin-top: 1em;
}
.mobile .fullscreenPanel {
	padding: 2em 2em;
}


/* --------------------------- */
/* ---- DESKTOP LAYOUT ------- */
/* --------------------------- */

.desktop .mobileLayout {
	display: none;
}
.desktop .desktopLayout {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.desktopLayout .column.main {
	flex-grow: 1;
	width: auto;
	margin: 1em;
}
.desktopLayout .column.side { 
	flex-grow: 0;
	flex-shrink: 1;
	max-width: 35%;
	margin: 1em;
}
.desktopLayout .section.side { 
	width: 30em; 
	max-width: 100%;
}
.desktop .section.player {}
.desktop .section.banner {}
.desktop .section.channel {}
.desktop .section.search {}
.desktop .section.playlist {
	margin-bottom: 1em;
}
.desktop .section.video {}
.desktop .section.related {}
.desktop .section.comments {}
.desktop .fullscreenPanel {
	padding: 2em 6em;
}

@media (min-width: 70em) {
	.desktopLayout .column.main { margin-left: 4em; }
	.desktopLayout .column.side { margin-right: 1em; }
}
@media (min-width: 85em) {
	.desktopLayout .column.main { margin-left: 8em; }
	.desktopLayout .column.side { margin-right: 2em; }
}
@media (min-width: 100em) {
	.desktopLayout .column.main { margin-left: 16em; }
	.desktopLayout .column.side { margin-right: 2em; }
}


/* --------------------------- */
/* ---- PIN VIDEO ------------ */
/* --------------------------- */

/* Pin Video */
/* Performance probles because container needs to be scrolled instead of body
.pinVideo .pageContainer {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.pinVideo .pageContent {
	overflow-y: auto; 
}
.pinVideo .pageContent::-webkit-scrollbar { 
	width: 0px; 
}
.pinVideo .section.player { 
	flex-shrink: 0;
}*&

/* Scroll Video */

/*body.scrollVideo::-webkit-scrollbar { width: 0px; }*/


/* -------------------------------------------------------------------- */
/* ---- MEDIA PLAYER -------------------------------------------------- */
/* -------------------------------------------------------------------- */

/*region*/

/* --------------------------- */
/* ---- FRAME ---------------- */
/* --------------------------- */


.section.player {
	position: relative;
	width: 100%;
	height: 56.25vw;
	max-height: 80vh;
	background-color: black;
}
.player[fullscreen] {
	position: fixed;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	left: 0;
	top: 0;
	z-index: 10;
}
.player>audio {
	display: none;
}
.player>video {
	position: absolute;
	width: 100%;
	height: 100%;
}
.videoPoster, .videoPosterFallback {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	overflow: hidden;
}
.videoPosterFallback { /* hqdefault is always there but is forced 4:3 with black bars */
	/* Crop to 16:9 - change by code when different aspect ratio needed */
	height: 133.33%;
	top: -16.66%;
}
.videoControls {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.controlOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}


/* --------------------------- */
/* ---- CENTER INDICATORS ---- */
/* --------------------------- */

.centerAnchor {
	position: absolute;
	top: 50%;
	bottom: 50%;
	right: 50%;
	left: 50%;
	width: 0;
	height: 0;
}
.indicator {
	position: absolute;
	height: 6em;
	width: 6em;
	left: -3em;
	top: -3em;
	border-radius: 50%;
	fill: #fff;
	stroke: #fff;
}
.indicator.big {
	height: 8em;
	width: 8em;
	left: -4em;
	top: -4em;
}
.indicator.static, .indicator.temp {
	background: rgba(0,0,0,0.5);
}
.indicator.temp {
	display: none;
	opacity: 0;
}
.indicator.temp[trigger] {
	display: initial;
	animation: indicator_popup 0.5s ease-in-out;
}
#bufferingIndicator {
	animation: loader_rotate 2s linear infinite;
	transform-origin: center center;
}
#bufferingIndicator > use {
	animation: loader_dash 1.5s ease-in-out infinite;
}
#nextLoadIndicator > use {
	animation: loader_fill 8s linear;
}


/* --------------------------- */
/* ---- CONTROL BAR ---------- */
/* --------------------------- */

.controlBar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 4em;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.4) 100%);
	transition: opacity .2s;
}
.player[retracted] {
	cursor: none;
}
.player[retracted] .controlBar {
	opacity: 0;
}
.controlStack {
	position: absolute;
	height: 2.5em;
	bottom: 0;
	display: flex;
	align-items: center;
	margin: 0 1em;
}
.controlStack.left {
	left: 0;
	justify-content: flex-start;
}
.controlStack.right {
	right: 0;
	justify-content: flex-end;
}
.controlBar span {
	margin: 0 0.2em;
	color: #eee;
	text-shadow: 0 0 0.3em #000, 0 0 0.1em #000;
}
.controlButton {
	position: relative;
	width: 3.15em;
	height: 2.75em;
}
.controlButton svg { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	fill: #fff; 
}
.controlButton:hover svg { fill: #ccc; transition: fill .1s; }
.controlButton:active svg { fill: #999; }
/* Interactive svg icons */
.controlButton svg[toggle-on] { display: none; }
.controlButton svg[toggle-off] { display: initial; }
.controlButton[state="on"] svg[toggle-on] { display: initial; }
.controlButton[state="on"] svg[toggle-off] { display: none; }
/* Volume Slider */
.controlExpander {
	height: 2.75em;
	width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transition: width 0.2s;
}
.controlButton:hover + .controlExpander, .controlExpander:hover, .controlExpander[interacting] {
	width: 5em;+
}
.slider.controlSlider {
	height: 100%;
	width: 4em;
	margin-right: 1em;
}


/* --------------------------- */
/* ---- TIMELINE ------------- */
/* --------------------------- */

.timeline {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2.5em;
	height: 1.5em;
	margin: 0 1em;
	cursor: pointer;
}
.timelineVisual {
	position: absolute;
	bottom: 0.2em;
	height: 0;
	width: 100%;
}
.timelineBar {
	position: absolute;
	bottom: 1.5px;
	top: -1.5px;
	height: 3px;
	width: 100%;
	transition: .1s;
}
.timelineBar.background {
	background: #666;
	opacity: 0.3;
}
.timelineBar.buffered {
	background: #ccc;
	opacity: 0.6;
}
.timelineBar.peeking {
	background: #eee;
	opacity: 0.6;
}
.timelineBar.progress {
	background: var(--acc-color);
	opacity: 1;
}
.timelineKnob {
	position: absolute;
	left: 50%;
	margin-left: -6px;
	width: 12px;
	height: 12px;
	top: -6px;
	bottom: 6px;
	border-radius: 6px;
	background: var(--acc-color);
	opacity: 0;
	transition: opacity .1s;
}
.timeline:hover .timelineBar, .timeline[interacting] .timelineBar {
	bottom: 2.5px;
	top: -2.5px;
	height: 5px;
}
.timeline:hover .timelineKnob, .timeline[interacting] .timelineKnob {
	opacity: 1;
}


/* --------------------------- */
/* ---- OPTIONS PANEL -------- */
/* --------------------------- */

.optionsPanel {
	position: absolute;
	right: 0;
	bottom: 4em;
	min-width: 20em;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0.5em 0.5em 0em;
	padding: 0.5em;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
}
.optionsPanel > div {
	margin: 0.4em 0;
}

/*endregion*/


/* -------------------------------------------------------------------- */
/* ---- SECTIONS ------------------------------------------------------ */
/* -------------------------------------------------------------------- */

/*region*/


/* --------------------------- */
/* ---- FULL-SIZED LISTS ----- */
/* --------------------------- */

.playlistList, .videoList {
}
.playlistList *, .videoList * {
	overflow: hidden;
}
.playlistList .liElement, .videoList .liElement {
	height: 81px;
}
.playlistList .liThumbnail, .videoList .liThumbnail {
	width: 144px;
	height: 81px;
}


/* --------------------------- */
/* ---- PLAYLIST ------------- */
/* --------------------------- */

.section.playlist {
	background-color: var(--bg-sec-color);
	border: 1px solid var(--bg-sec-acc-color);
	overflow: hidden;
}
.playlist * {
	overflow: hidden;
}
/* Playlist Head Structure */
.playlistHead {
	border-bottom: 1px solid var(--bg-sec-acc-color);
}
.plHeadMain {
	display: flex;
	flex-direction: row;
	height: 4em;
}
.plHeadActions {
	height: 2.5em;
	margin: 0 0 0.5em;
	justify-content: space-around;
	font-size: 90%;
}
.playlist[collapsed] .plHeadActions {
	display: none;
}
/* Playlist Head Content */
.plDesc {
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0.5em 1em;
}
.plTitle {
	display: block;
	font-size: 120%;
}
.plDetail {
	display: block;
	font-size: 110%;
}
.plCollapser {
	flex-grow: 0;
	flex-shrink: 0;
	min-width: 4em;
	height: 100%;
	padding: 1em;
}
.plCollapser svg {
	height: 100%;
}
/* Playlist Video Container */
.playlistContainer {
	height: 30em;
	width: 100%;
	max-height: 50vh;
}
.playlist .liPlaceholder {
	height: 54px;
	margin: 0.5em 0;
}
.playlist .liElement {
	height: 54px;
}
.playlist .liThumbnail {
	width: 96px;
	height: 54px;
}
.playlist .liIndex {
	line-height: 54px;
}


/* --------------------------- */
/* ---- VIDEO DETAIL --------- */
/* --------------------------- */

.section.video {}
.vdDetail {
	border-bottom: 1px solid var(--bg-acc-color);
	position: relative;
	padding: 0 0 1em;
	margin-bottom: 1em;
}
.vdDetail.primary {}
.vdTitle {
	display: block;
	margin-bottom: 0.5em;
	font-size: 120%;
	word-break: break-word;
}
.vdViews {
	display: block;
	margin: 0;
	font-size: 110%;
	color: var(--txt-sec-color);
	word-break: break-word;
}
.vdActionBar {
	position: absolute;
	right: 0;
	bottom: 0.5em;
	height: 2em;
}
.vdSentiment {
	position: absolute;
	left: 0;
	bottom: -0.5em;
	height: 2px;
	width: 10em;
	background-color: var(--ctrl-sec-color);
}
.vdSentimentBar {
	height: 100%;
	width: 0%;
	background-color: var(--acc-sec-color);
}
.vdDetail.secondary {}
.vdUploadContainer {
	display: flex;
	flex-direction: row;
	align-items:center;
	margin-right: auto;
}
.vdUploadProfile {
	position: relative;
}
.vdUploadImg {
	height: 64px;
	width: 64px;
}
.vdUploadDetail {
	margin-left: 1em;
}
.vdUploadName {
	display: block;
	font-weight: bolder;
}
.vdUploadDate {
	display: block;
	color: var(--txt-sec-color);
}
.vdUploadSubscribers {
	margin: 0.2em 0.5em;
	padding: 0.5em 1em;
	font-size: 110%;
	background-color: var(--acc-color);
	color: #fff;
	border-radius: 2px;
}
.vdTextContainer {
	margin-left: 64px;
	padding: 1em;
}
.mobile .vdTextContent {
	display: flex;
	flex-direction: column;
}
.vdDescription {
	display: inline !important;
}
.vdMetadata {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 1em 0 1em;
}
.vdMetadata span {
	line-height: 1.5em;
}
.vdMetadata span:nth-child(2n-1) {
	color: var(--txt-sec-color);
	padding-right: 2em;
}
.vdDescCollapser {
	color: var(--txt-sec-color);
}


/* --------------------------- */
/* ---- COMMENTS ------------- */
/* --------------------------- */

.section.comments {}
.vdCommentList {}
.cmContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 1em 0 1.5em;
	max-width: 100%;
}
.cmContainer .cmContainer {
	margin: 0.5em 0 1em;
}
.cmProfileColumn {
	position: relative;
	flex-shrink: 0;
	flex-grow: 0;
}
.cmContentColumn {
	flex-grow: 1;
	margin-left: 1em;
}
.cmContainer .cmProfileImg {
	height: 48px;
	width: 48px;
}
.cmContainer .cmContainer .cmProfileImg {
	height: 32px;
	width: 32px;
}
.cmAuthorName {
	display: inline-block;
	font-size: 110%;
	font-weight: bolder;
	padding-right: 0.5em;
}
.cmPostedDate {
	display: inline-block;
	font-size: 90%;
	color: var(--txt-sec-color);
}
.cmBody {
	margin: 0.4em 0 0.2em;
}
.cmCollapser {
	color: inherit;
}
.cmActionBar {
	font-size: 90%;
	height: 2em;
}
.cmToggleReplies {
	color: inherit;
	padding: 0.5em 0;
}

/* --------------------------- */
/* ---- RELATED VIDEOS ------- */
/* --------------------------- */
/* Standard Videolist */
.section.related {}


/* --------------------------- */
/* ---- SEARCH --------------- */
/* --------------------------- */
/* Standard Videolist */
.section.search {}
.scActionBar {
	margin-bottom: 1em;
	border-bottom: 1px solid var(--bg-acc-color);
	height: 2em;
}

/* --------------------------- */
/* ---- CHANNEL -------------- */
/* --------------------------- */

.section.banner {
	position: relative;
	width: 100%;
}
.chBannerImg {
	width: 100%;
}
.chLinkBar {
	position: absolute;
	right: 0;
	bottom: 1em;
	height: 1.5em;
	padding: 0.25em;
	background-color: rgba(0,0,0,0.4);
}
.chLink {
	position: relative;
	display: inline-block;
	margin: 0 0.5em;
	height: 100%;
	cursor: pointer;
}
.chLink a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.chLink img {
	height: 100%;
	fill: var(--txt-sec-color);
	vertical-align: middle;
	margin-right: 0.2em;
}
.chLink span {
	text-align: center;
	font-size: 90%;
	color: #fff;
}
.chLink:hover img { fill: #999; transition: fill .05s; }
.chLink:hover span { color: #ddd; transition: color .05s; }
.chLink:active img { fill: #888; }
.chLink:active span { color: #bbb; }

.section.channel {}
.chDetail {
	border-bottom: 1px solid var(--bg-acc-color);
	position: relative;
	padding: 0 0 1em;
	margin-bottom: 1em;
}
.chProfile {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items:center;
	width: 100%;
}
.chIdentity {
	margin-left: 1em;
}
.chName {
	display: block;
	word-break: break-word;
	font-size: 120%;
	font-weight: bolder;
}
.chSubscribers {
	display: block;
	margin: 0;
	font-size: 110%;
	color: var(--txt-sec-color);
	word-break: break-word;
}
.chProfileImg {
	height: 64px;
	width: 64px;
}
.chDescription {
	display: block;
	margin-left: 64px;
	padding: 1em;
}
.chDescCollapser {
	color: var(--txt-sec-color);
}
.videoSection {
	padding-bottom: 1em;
}
.videoSectionHeader, .videoSectionLabel {
	display: inline-block;
	font-size: 120%;
	padding: 0.2em 0.6em 0.6em;
	font-weight: bolder;
	color: var(--txt-sec-color);
}
.videoSectionHeader:hover {
	color: var(--txt-color);
}

/*endregion*/


/* -------------------------------------------------------------------- */
/* ---- SETTINGS ------------------------------------------------------ */
/* -------------------------------------------------------------------- */

/*region*/

.fullscreenPanel {
	z-index: 8;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.settingsPanel {
	width: 100%;
	max-width: 30em;
	height: 100%;
	max-height: 40em;
	display: flex;
	flex-direction: column;
	background: var(--bg-color);
	margin: 0 auto;
	overflow-y: auto;
}
.settingsHeader {
	display: flex;
	flex-direction: row;
	height: 2em;
	padding: 0.25em 1em;
	line-height: 1.5em;
	font-size: 130%;
	font-weight: bolder;
}
.settingsHeader.main {
	height: 3em;
	line-height: 2.5em;
	background: var(--bg-sec-color);
	border-bottom: 1px solid var(--bg-sec-acc-color);
}
.settingsHeaderIcon {
	height: 2.5em;
	width: 2.5em;
}
.settingsHeaderIcon svg {
	height: 100%;
}
.settingsContent {
	flex-grow: 1;
	padding: 0.25em 2em 1em;
}
.settingsContent > span {
	line-height: 1.5em;
	font-size: 100%;
}
.settingsContent > div {
	margin: 0.5em 0;
	line-height: 2em;
	font-size: 100%;
}
.settingsContent > div br+* {
	margin-left: 2em;
}

/*endregion*/


/* -------------------------------------------------------------------- */
/* ---- GENERIC ------------------------------------------------------- */
/* -------------------------------------------------------------------- */

/*region*/

*[nav] {
	cursor: pointer;
}
.flexSpace {
	flex-grow: 1;
}
button {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	font: inherit;
	background: none;
	cursor: pointer;
}
.popupPanel {
	display: none;
}
.blurred {
	filter: blur(4px);
	-webkit-filter: blur(4px);
}
.profileImg {
	border-radius: 50%;
}
.overlayLink {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.detailLink {
	z-index: 3;
}
.darkIcon { display: none; }
.theme-dark .darkIcon { display: initial; }
.theme-dark .lightIcon { display: none; }
.lightIcon { display: initial; }
.icon { fill: var(--icon-color); }
.rightControl {
	margin-left: 1em;
	float: right;
}



/* --------------------------- */
/* ---- TEXT LABELS ---------- */
/* --------------------------- */

.oneline, .twoline {
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	overflow: hidden;
}
.oneline {
	white-space: nowrap;
	word-break: break-word;
}
.twoline {
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.noselect {
	  -webkit-user-select: none; /* Safari */
		 -moz-user-select: none; /* Firefox */
		 -moz-user-select: -moz-none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Chrome and Opera */
}
.selectable {
	  -webkit-user-select: text; /* Safari */
		 -moz-user-select: text; /* Firefox */
		  -ms-user-select: text; /* Internet Explorer/Edge */
			  user-select: text; /* Chrome and Opera */
}
a, a:link, a:visited, a:hover, a:active {
	color: inherit;
	text-decoration: inherit;
}


/* --------------------------- */
/* ---- TEXT CONTENT --------- */
/* --------------------------- */

.textContent {
	font-size: 1em !important;
	line-height: 1.4 !important;
	word-wrap: break-word;
	word-break: break-word;
	overflow: hidden;
}
.textContent a, .textContent a:link, .textContent a:visited, .textContent a:hover, .textContent a:active {
	color: var(--acc-sec-color);
	text-decoration: none;
}
.textContent a[href]:hover, .textContent a[href]:active {
	color: #1d83d4;
	text-decoration: none;
}


/* --------------------------- */
/* ---- CONTENT INTERACTION -- */
/* --------------------------- */

.collapsable .collapser, .contentLoader {
	cursor: pointer;
}
button.contentLoader, span.contentLoader, button.collapser, span.collapser {
	font-weight: bolder;
}
.collapsedIcon { display: none; }
.collapsable[collapsed] .collapsedIcon { display: initial; }
.expandedIcon { display: initial; }
.collapsable[collapsed] .expandedIcon { display: none; }
.collapsable[collapsed] .collapsableContainer { display: none; }
.collapsable[collapsed] .collapsableText { max-height: 5.4em; }

.contentContainer { display: none; }
.contentContainer[loaded] { display: block; }

.loadingIndicator {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: auto 1em;
}
.loadingIndicator svg {
	animation: loader_rotate 2s linear infinite;
	transform-origin: center center;
	width: 4em;
	height: 4em;
	stroke-width: 4;
	stroke: var(--ctrl-color);
}
.loadingIndicator.small svg {
	width: 2em;
	height: 2em;
}
.loadingIndicator svg>use[href="#svg_loadCircle"] {
	animation: loader_dash 1.5s ease-in-out infinite;
}


/* --------------------------- */
/* ---- VIDEO/... ELEMENTS --- */
/* --------------------------- */

.liElement {
	position: relative;
	display: flex;
	width: 100%;
	margin: 0.5em 0;
}
.liIndex {
	text-align: center;
	flex-shrink: 0;
	font-size: 60%;
	width: 3em;
}
.liThumbnail {
	position: relative;
	flex-shrink: 0;
}
.liThumbnailImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.liThumbnailInfo {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 80%;
	line-height: 100%;
	padding: 0.25em;
	margin: 0.25em;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
}
.liDetail {
	margin: 0 1em;
	flex-grow: 1;
}
.liDetail span {
	display: block;
	line-height: 120%;
	margin: 0.2em 0;
}
.liPrimary {
	font-size: 95%;
	font-weight: bolder;
}
.liSecondary, .liTertiary {
	font-size: 90%;
	color: var(--txt-sec-color);
}
.liAction {
	text-align: center;
	flex-shrink: 0;
}
.liAction svg {
	height: 2em;
	width: 4em;
}

/* --------------------------- */
/* ---- SCROLL BOX ----------- */
/* --------------------------- */

.scrollBox {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.scrollBox::-webkit-scrollbar {
	width: 1em;
}
.scroll::-webkit-scrollbar-track {
	background: #333;
}
.scrollBox::-webkit-scrollbar-thumb {
	background: #aaa;
	cursor: pointer;
}
.scrollBox::-webkit-scrollbar-thumb:hover {
	background: #ccc;
	cursor: pointer;
}


/* --------------------------- */
/* ---- ACTION BAR ----------- */
/* --------------------------- */

.actionBar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.actionBar.right {
	flex-direction: row-reverse;
}
.barAction {
	display: inline-block;
	height: 100%;
}
.barAction span {
	line-height: 1.5em;
}
.barLabel {
	display: inline-block;
	line-height: 2em;
	color: var(--txt-sec-color);
	padding: 0 0.5em;
	font-weight: bolder;
}
/* Variation: Context */
.contextAction {
	display: block;
	position: absolute !important;
	z-index: 4;
	top: 0.5em;
	right: 0.5em;
	height: 2em;
}
.barAction, .contextAction {
	margin: 0;
	padding: 0.25em 0.5em;
	text-align: center !important;
	color: var(--txt-sec-color) !important;
}
.barAction.fixed, .contextAction.fixed {
	min-width: 5em;
}
.barAction svg, .contextAction svg {
	height: 100%;
	fill: var(--icon-color);
	vertical-align: middle;
	margin-right: 0.2em;
}
.barAction:hover svg, .contextAction:hover svg { fill: #999; transition: fill .05s; }
.barAction:hover, .contextAction:hover { color: #999; transition: color .05s; }
.barAction:active svg, .contextAction:active svg { fill: #888; }
.barAction:active, .contextAction:active { color: #888; }

* *[toggle-on] { display: none; }
*[toggled] *[toggle-on] { display: initial; }
* *[toggle-off] { display: initial; }
*[toggled] *[toggle-off] { display: none; }


/* --------------------------- */
/* ---- TAB BAR -------------- */
/* --------------------------- */

.tabBar {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}
.mobile .tabBar {
	justify-content: space-around;
	width: 100%;
}
.tabHeader {
	padding: 0.8em 1em 0.8em;
	font-size: 120%;
	font-weight: bolder;
	color: var(--txt-sec-color);
}
.desktop .tabHeader {
	padding: 0.8em 2em 0.8em;
}
.tabHeader:hover {
	background-color: var(--bg-sec-color);
}
.tabHeader[selected] {
	color: var(--txt-color);
	background-color: var(--bg-sec-color);
}

/* --------------------------- */
/* ---- BASE CONTROLS -------- */
/* --------------------------- */

.baseButton {
	display: inline-block;
	min-width: 6em;
	padding: 0.2em;
	background-color: var(--ctrl-bg-color);
	color: var(--ctrl-color);
	border: 1px solid var(--ctrl-color);
}
.baseField {
	display: inline-block;
	min-width: 6em;
	padding: 0.2em;
	background-color: var(--ctrl-bg-ter-color);
	border: 1px solid var(--ctrl-color);
	color: var(--ctrl-color);
}
.selector {
	-webkit-appearance: menulist-button;
	display: inline-block;
	min-width: 6.3em;
	padding: 0.2em;
	background-color: var(--ctrl-bg-color);
	border: 1px solid var(--ctrl-color);
	color: var(--ctrl-color);
}
.selector option {
	background-color: var(--ctrl-bg-color);
	color: var(--ctrl-color);
	user-select: none;
}
.selector option:checked {
	background-color: var(--ctrl-bg-sec-color);
	color: var(--ctrl-color);
}


/* --------------------------- */
/* ---- STANDALONE DROPDOWN -- */
/* --------------------------- */

/* Three types: hover / toggle / script */ 
/* hover: css-only - opens on hover - any container - needs button or link elements - does not close automatically */
/* trigger: light script support - opens/closes on toggle - any container - needs button or link elements */
/* script: strong script support - opens/closes on toggle - button container - fully accessible with tabindex="0" on elements - script callback function onselect */

.dropdown {
	position: relative;
	text-align: left;
}
.dropdown .dropdownButton {
	-webkit-appearance: menulist-button;
	display: inline-block;
	line-height: 2em;
	min-width: 6em;
	padding: 0.2em 1.2em 0.2em 0.4em;
	background: var(--ctrl-bg-color);
	color: var(--ctrl-color);
	border: 1px solid var(--ctrl-color);
}
.dropdown .dropdownContent {
	display: none;
	position: absolute;
	z-index: 5;
	min-width: 10em;
	width: 15em;
	width: max-content; /* if available, nice, if not, whatever */
	background: var(--ctrl-bg-color);
	color: var(--ctrl-color);
}
.dropdown.up .dropdownContent {
	box-shadow: 0px -6px 12px 0px rgba(0,0,0,0.4);
}
.dropdown.down .dropdownContent {
	box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.4);
}
.dropdownContent > * {
	display: block;
	text-decoration: none;
	padding: 0.8em 1.0em;
}
.crunched .dropdownContent > * { 
	padding: 0 0.5em;
	line-height: 1.5em;
	font-size: 90%;
}
.multiple .dropdownContent > * { 
	text-align: left;
}
.multiple .dropdownContent > *:before {
	display: inline-block;
	content: " ";
	margin-right: auto;
	width: 1.5em;
}
.multiple .dropdownContent > *[selected]:before {
	content: "\2713";
}
.dropdownContent > a:after {
	display: inline;
	content: " \2197";
	font-size: 75%;
}
.dropdownContent > *:hover {
	background: var(--ctrl-bg-sec-color);
	color: var(--ctrl-color);
}
.dropdown.hover:hover .dropdownContent { display: block; }
.dropdown[toggled] .dropdownContent { display: block; }
.dropdown.left .dropdownContent { right: 0; }
.dropdown.right .dropdownContent { left: 0; }
.dropdown.up .dropdownContent { bottom: 100%; }
.dropdown.down .dropdownContent { top: 100%; }



/* --------------------------- */
/* ---- SWITCH TOGGLE -------- */
/* --------------------------- */

.switch {
	display: inline-block;
	position: relative;
	width: 2em;
	height: 1.3em;
	cursor: pointer;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.switch .background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0.65em;
	background-color: var(--ctrl-sec-color);
	transition: .05s;
}
.switch .knob {
	position: absolute;
	height: 1em;
	width: 1em;
	left: 0.15em;
	top: 0.15em;
	border-radius: 0.5em;
	background-color: #fff;
	transition: .05s;
}
.switch input:checked ~ .background {
	background-color: #f00;
	background-color: var(--acc-color);
}
.switch input:checked ~ .knob {
	left: 0.85em;
}


/* --------------------------- */
/* ---- SLIDER --------------- */
/* --------------------------- */

.slider {
	position: relative;
	height: 1em;
	margin: 0 0.2em;
	cursor: pointer;
}
.sliderVisual {
	position: absolute;
	top: 50%;
	bottom: 50%;
	height: 0;
	width: 100%;
}
.sliderBar {
	position: absolute;
	bottom: 1px;
	top: -1px;
	height: 2px;
	width: 100%;
}
.sliderBar.background {
	background: #666;
	opacity: 0.4;
}
.sliderBar.value {
	background: #fff;
	opacity: 1;
	width: 50%;
}
.sliderKnob {
	position: absolute;
	left: 50%;
	margin-left: -4px;
	width: 8px;
	height: 8px;
	top: -4px;
	bottom: 4px;
	border-radius: 4px;
	background: #fff;
	opacity: 0;
}
.slider:hover .sliderBar, .slider[interacting] .sliderBar {
	bottom: 1.5px;
	top: -1.5px;
	height: 3px;
}
.slider:hover .sliderKnob, .slider[interacting] .sliderKnob {
	opacity: 1;
}


/* --------------------------- */
/* ---- ANIMATIONS ----------- */
/* --------------------------- */

@keyframes indicator_popup {
	0%		{ opacity: 0.0; }
	20%		{ opacity: 1.0; }
	100%	{ opacity: 0.0; }
}
@keyframes loader_rotate {
	100% 	{ transform: rotate(360deg); }
}
@keyframes loader_dash { /* For circles with radius of 20 / circumference of 125 */
	0% 		{ stroke-dasharray: 1 200; stroke-dashoffset: 0; }
	50% 	{ stroke-dasharray: 89 200; stroke-dashoffset: -35; }
	100% 	{ stroke-dasharray: 89 200; stroke-dashoffset: -124; }
}
@keyframes loader_fill { /* For circles with radius of 20 / circumference of 125 */
	0% 		{ stroke-dasharray: 125; stroke-dashoffset: 125; }
	100% 	{ stroke-dasharray: 125; stroke-dashoffset: 0; }
}

/*endregion*/
